@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --font-sans-serif: 'Poppins', sans-serif;
  --bg-color-top: #ffffff; /* Cor branca para o topo */
  --bg-color-bottom: #1e3932; /* Verde escuro para a segunda faixa */
  --text-color-dark: #1e3932;
  --text-color-light: #ffffff;
}
.container{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-sans-serif);
}

body {
  background-color: #f4f4f4;
  
}

header {
  width: 100%;
  display: flex;
  align-items: center;
}

.container .top-header .filter-btn{
  font-family: SoDoSans_Light, Helvetica, sans-serif;
  background-color: #ebebeb;
  padding: 4px 20px;
  margin: 3px 8px;
  font-size: 12px;
  cursor: pointer;
  color: #3c3c3c;
  border-radius: 8px;
  display: inline-block;
  white-space: nowrap
}
.top-header {
 
  width: 100%;
  height: 80px;
  background-color: var(--bg-color-top); 
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0px;
  border: 1px solid #e5e5e5;
  padding: 1em 0 1em 5em;
  border-radius: 8px;
}

.bottom-header {
  width: 100%;
  height: 80px; 
  background-color: var(--bg-color-bottom);
  padding: 1em 0 1em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 80px; 
  left: 0;
  z-index: 998;
}

.bottom-header h2 {
  font-size: 2.4rem;
  color: var(--text-color-light);
  margin: 0;
}
.nav__link {
  display: flex;
  gap: 1.5rem; 
  margin-left: 2em; 
  position: relative;
}

.nav__links a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #006241;
  left: 0;
  bottom: -6px; 
  transform: scaleX(0);
  transition: transform .3s;
 transform-origin: center;
}

  

.nav__links a:hover::after{
  transform: scaleX(1);
  transform-origin: center;

}
.nav__links {
  display: flex;
  gap: 1rem;
}

.nav__link a {
  color: GrayText;
  font-size: 14px;
  vertical-align: baseline;
  text-decoration: none;

  font-family: SoDoSans_Semibold, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  
}

.nav__link a:hover {
  color: #00754a;
}

.btn-saiba {
  border-radius: 30px;
  padding: 10px 30px;
  background-color: var(--text-color-light);
  color: var(--text-color-dark);
  border: 1px solid var(--text-color-light);
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.btn-saiba:hover {
  background-color: #00754a;
}

img {
 
  width: 50px;
  height: 50px
}

.nav__logo {
  width: 6em;

}

.container {
  width: 100%;
  height: 100%;
}
